[Desktop Entry]
Name=Pro Terminal
Comment=Pro Terminal
Exec=/bin/bash -c "~/raiseterminal.sh"
Icon=./gorilla.svg
Terminal=false
Type=Application
Categories=Utility;
